[Unit]
Description=Java docs-server service
Wants=network.target
After=network.target

[Service]
Type=simple

# change 'docs-server' to your folder
WorkingDirectory=/usr/share/java/docs-server
ExecStart=/usr/share/java/docs-server/startup.sh
ExecStop=/usr/share/java/docs-server/shutdown.sh

# change them to your user:group
User=jarapp
Group=jarapp

[Install]
WantedBy=multi-user.target